*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
}

button{
	font-family: 'Poppins', sans-serif;
}

header{
	display: flex;
	width: 90%;
	height: 8vh;
	margin: auto;
	align-items: center;
	background-color: #dcf1f9;
	border-radius: 10px;
}

.logo-container,.nav-links{
	font-size: 20px;
	display: flex;


}

.logo-container{
	flex: 1;
	margin-left: 5%
}

nav{

	flex: 1;
	
}

.nav-links{

	list-style: none;
	justify-content: space-around;
}

.nav-link{
	text-decoration: none;
}

#Contact:hover{
  

}
 
.presentation{
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
}

.intro{
	flex:1;
	
}
.intro-text{
	font-size: 22px;
}
.cover{
	display: flex;
	flex: 1;
	justify-content: center;
	height: 60vh;

}

.cover img{
	height: 100%;
	animation: drop 1.5s ease-in-out;
	justify-content: flex-end;
}

.cta{
	padding-top: 50px;
	
}
.cta-select{
	border:2px solid #c36cbb;
	background:transparent;
	color:#c36cbb;
	width: 150px;
	height:50px;
	margin-top: 10px;
	cursor: pointer; 
	font-size: 20px;
	transition: all 0.3s;
	
}
.cta-add{
	border:2px solid #c36cbb;
	background:#c36cbb;
	color:white;
	width: 150px;
	height:50px;
	margin-top: 10px;
	margin-left: 15px;
	cursor: pointer; 
	font-size: 20px;
	transition: all 0.3s;
}
.cta-select:hover,.cta-add:hover{
	transform: scale(1.1);
	background-color: #c36cbb;
	color:white;

}

@keyframes drop{
	0%{
		opacity: 0;
		transform: translateY(-80px);
	}

	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}



@media only screen and (max-width: 1080px) {

	.logo{
		flex:0.5;
	}

	.nav-links{
		flex: 1.5;
	}

	.presentation{
		flex-direction: column;
	}

	.intro{
		margin-top: 5vh;
		text-align: center;
	}

	.intro-text p{
		font-size: 18px;
	}
	.intro-text h1{
		font-size: 30px;
	}

	.cover img{
		height: 80%;
	}

.logo-container,.nav-links{
	font-size: 40px;
   
}
